.tag-menu-container {
    display: inline-block;
    position: relative;
    /* width: 300px; */
}

.tag-container {
    height: 30px;
    /* outline: solid red 3px; */
}

.tag-container span {
    border: 1px solid black;
    display: inline-block;
    margin: 2px;
}



.dropdown-selection-menu { 
    border-left: solid black 1px;
    border-right: solid black 1px;
    border-bottom: solid black 1px;
    position: absolute;
    padding: 0;
    background-color: white;
    margin: 0;
    /* width: inherit; */
    width: 100%;
    /* min-height: 1px; */
    height: 10rem;
    overflow: scroll;
    list-style: none;
}

.dropdown-selection-menu li {
    padding: 5px 0px 5px 0px;
    border-bottom: solid black 1px;
    overflow: hidden;
    padding-left: 1rem;
}

.dropdown-selection-menu li:hover {
    cursor: pointer;
}