.sidebar-container {
    /* outline: solid 3px red; */
    background-color: whitesmoke;
    z-index: 5;
    height: 100%;
    width: 75%;
    top: 0;
    left: 0;
    position: fixed;
    animation-name: slideIn;
    animation-timing-function: ease;
    animation-duration: 0.4s;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

@media (min-width: 500px) {
    .sidebar-container {
        width: 20rem;
    }
}

.transparent-sheet {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: hsla(200, 10%, 10%, 0.3);
    z-index: 4;
}

@keyframes slideIn {
    from {
        left: -300px;
    }

    to {
        left: 0;
    }
}

.sidebar-header {
    height: 6%;
    /* outline: 2px solid brown; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px 0px 16px;
}

.sidebar-divider-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-divider {
    width: 90%;
}


.x-button {
    outline: solid black 2px;
    padding: 3px;
    border-radius: 3px;
}

.x-button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

.sidebar-list {
    padding: 0px 1rem 0px 1rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 20%;

}

.sidebar-list li {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;
    height: 70%;

}


.sidebar-list li:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}


.list-icons {
    margin-left: 10px;
}


.sidebar-divider {
    background-color: black;
}
/* Fix this another time */

.group-section {
    /* outline: solid green 3px; */
    list-style: none;
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: scroll;
    padding: 0px;
}

.group-section li {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-left: 3px;
    /* border: solid black 1px; */
}

.group-section li span:hover {
    cursor: pointer;
    text-decoration: underline;
}

.group-project-header {
    text-decoration: underline;
    /* outline: solid brown 3px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 10px;

}

.title {
    width: 100%;
    overflow-wrap: break-word;
}

.create-project {
    display: flex;
    justify-content: center;
    align-self: center;
}

.form-center {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* outline: solid 3px rebeccapurple; */
    width: 90%;

}

.content-container {
    /* outline: solid 3px blue; */
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.level-size {
    /* outline: solid 3px blue; */
    display: flex;
    justify-content: space-between;
}