.navigation-bar {
    min-height: 8%;
    display: flex;
    align-items: center;
    border-bottom: 3px solid black;
    /* outline: solid red 3px */
}

.navigation-items {
    padding: 0px 1.5rem 0px 1.5rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

@media (min-width: 600px) {
    .navigation-items {
        padding: 0px 3rem 0px 3rem;
    }
}

.navigation-items-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.menu-icon:hover {
    cursor: pointer;
    outline: solid black 2px;
    border-radius: 13px;
}

.dashboard {
    font-size: larger;
    padding: 5px;
}

.dashboard:hover {
    cursor: pointer;
    border: none;
    text-decoration: underline  ;
}

.dashboard-link {
    text-decoration: none;
    color: black;
}
