.search-and-filter {
    /* outline: solid green 3px; */
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.searchbar {
    /* outline: blue solid 3px; */
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search {
    /* outline: solid red 3px; */
    display: flex;
    width: 100%;
    height: 50%;
}

.search input {
    width: 100%;
    padding-left: 1rem;
    border-right: none;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-radius: 10px 0px 0px 10px;
    font-size: 1.5rem;
}

.search input:focus {
    outline: none;
}

.search button {
    background-color: white;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-left: none;
    border-radius: 0px 10px 10px 0px;
    /* outline: solid 3px red; */
    width: 10%;
}

.filter {
    /* outline: solid red 3px; */
    height: 100%;
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter button {
    height: 50%;
    width: 90%;
    border: 2px solid black;
    background-color: white;
    border-radius: 5px;
}

.filter button:hover, .search button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}


