.hero-banner {
    height: 70%;
    width: 100%;
    overflow: hidden;
}

.slider {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    animation: scroll 10s ease-in-out infinite;
}

.slider li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider li img {
    height: 90%;
    width: 100vw;
}

.slider li h4 {
    font-size: xx-large;
}

@keyframes scroll {

    0% {
        transform: translate(0%);
    }

    15% {
        transform: translate(0%);
    }

    33% {
        transform: translate(-100%);
    }

    48% {
        transform: translate(-100%);
    }

    66% {
        transform: translate(-200%);
    }

    84% {
        transform: translate(-200%);
    }

    100% {
        transform: translate(-300%);
    }
}
