
.card {
    position: absolute;
    height: 90%;
    width: 90%;
    /* background-color: aqua; */
    transition: left 1s ease-in-out, right 1s ease-in-out;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    /* box-shadow: 0px 0px 20px 5px; */
    border: solid 2px black;
}

@media (min-width: 1000px) {
    .card {
        /* background-color: white; */
        /* height: 50%; */
        width: 30%;
    }
}

.card-heading {
    text-align: center;
}

.card-item {
    display: flex;
    align-items: center;
    justify-content: center;
    /* outline: 3px solid black; */
    margin-top: -100px;
}

.card-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-file {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* outline: solid green 2px; */
    margin-top: -7rem;
}

.file-upload-btn {
    width: 6rem;
    height: 2rem;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;

}

.file-upload-btn:hover {
    background-color: black;
    color: white;
}

.level-btns {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.level-btns button {
    background-color: white;
    width: 10rem;
    height: 3rem;
    border: solid 2px black;
    border-radius: 10px;
}

.level-btns button:hover {
    cursor: pointer;
}

#selected {
    background-color: black;
    color: white;
}

.MuiFormControl-root textarea {
    height: 300px !important;
}

.file-upload-btn:hover {
    cursor: pointer;
}

.next-btn {
    background-color: white;
    width: 100px;
    height: 2.5rem;
    border: solid 2px black;
    border-radius: 10px;
}

.next-btn:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

.out-of-view {
    right: -200%;
}

.slide-out {
    left: -300%;
}

.slide-in {
    right: 0;
}

.skillbox-container {
    display: flex;
    justify-content: center;
    /* border: none; */
}

.skillbox {
    outline: solid black 2px;
    width: 50%;
    height: 300px;
    margin-top: -5rem;
}

.skillbox button {
    background-color: white;
    border: 2px solid black;
    margin: 2px;
}

.auto-complete {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bioText {
    outline: solid black 2px;
    border-radius: 10px;
    width: 50%;
}


.bioText .MuiInputBase-root textarea {
    font-size: 1.5rem;
}


#welcome-card {
    z-index: 5;
}

#avatar-card {
    z-index: 4;
}

#level-card {
    z-index: 3;
}

#skills-card {
    z-index: 2;
}

#bio-card {
    z-index: 1;
}

#finish {
    z-index: 0
}