/* .bugs-component {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: solid red 3px;
}

.bugs-container {
    outline: solid black 3px;
    flex: 0 0 95%;
    min-height: 0;
    min-width: 0;
    height: 95%;
    overflow: scroll;
} */

.guideline-text {
    /* outline: solid 3px green; */
    display: inline-block;
    word-break: break-all;
    white-space: pre-line;
    margin-left: 10px;
}

.edit-btn {
    position: absolute;
    right: 1%;
    top: 1.5%;
    border: black 2px solid;
    background-color: white;
}

.edit-btn:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}