.message-modal {
    position: absolute;
    background-color: aqua;
    content: "";
    width: 50%;
    height: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

.message-sheet {
    position: absolute;
    content: "";
    background-color: gray;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}