.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.join-card {
    outline: solid green 3px;
    position: absolute;
    background-color: aliceblue;
    z-index: 1;
    width: 80%;
}
