.service-container {
    /* outline: solid red 3px; */
    flex: 1;
    min-height: 0;
    min-width: 0;
    /* overflow: scroll; */
}

.service-card {
    /* border: solid 2px black; */
    border-bottom: solid 2px black;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
}

.service-card:hover {
    cursor: pointer;
}

.service-title {
    /* outline: solid 3px red; */
    flex: 0 0 80%;
    min-height: 0;
    min-width: 0;
    /* width: 80%; */
    /* flex-wrap: nowrap; */

    /* white-space: nowrap; */
}

.service-card .service-title h2 {
    /* overflow-y: scroll; */
    padding-left: 2rem;
    padding-right: 2rem;
}

.assigned {
    flex: 1;
    min-height: 0;
    min-width: 0;

    /* width: 20%; */
}

.no-hover:hover {
    cursor: default;
}

.desc {
    outline: solid black 2px;
    height: 300px;
    width: 300px;
    overflow: scroll;
}