.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid red 31px; */
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}