.default-modal {
    position: fixed;
    outline: solid 3px black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 50%; */
    /* height: 70%; */
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    z-index: 10;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* outline: solid red 3px; */
    /* overflow-wrap: break-word; */
    flex-basis: 10%
}

.modal-header h1 {
    width: 90%;
    /* outline: solid 3px black; */
    margin-right: 2rem;
    text-decoration: underline;
    white-space: nowrap;
    flex-wrap: wrap;
    white-space: normal;
    display: inline-block;
}

.modal-content {
    /* outline: solid 3px green; */
    flex-basis: 75%;
    margin: 1rem 0px 2rem 0px;
}

.modal-buttons {
    /* outline: solid 3px blue; */
    flex-basis: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-buttons button {
    border: solid black 1px;
    padding: 10px 15px 10px 15px;
    background-color: white;
    border-radius: 3px;
    margin: 0px 5px 0px 5px;
}

.modal-buttons button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}
