.text-box {
    flex-basis: 6%;
    min-height: 0;
}

.text-box input {
    height: 100%;
    width: 100%;
    border: solid 3px black;
    border-radius: 5px 5px 0px 0px;
    border-left: none;
    border-right: none;
    font-size: large;
    padding-left: 11px;
}

.text-box input::placeholder {
    font-size: large;
}

.text-box input:focus {
    outline: none;
}